.vscode/**
.vscode-test/**
src/**
out/**
.gitignore
.prettierignore
.prettierrc
esbuild.js
eslint.config.mjs
tsconfig.json
node_modules/**
*.vsix
.claude
CLAUDE.md
*.log
.git*
*.md
!README.md
!CHANGELOG.md
!LICENSE.md
